/* Preline JS CSS compiled */


.hs-dropdown.open > .hs-dropdown-open\:rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-dropdown.open > .hs-dropdown-open\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-dropdown.open > .hs-dropdown-open\:opacity-100 {
    opacity: 1;
  }
  
  .hs-dropdown.open > .hs-dropdown-open\:ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  
  .hs-dropdown.open > .hs-dropdown-menu > .hs-dropdown-open\:rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-dropdown.open > .hs-dropdown-menu > .hs-dropdown-open\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-dropdown.open > .hs-dropdown-menu > .hs-dropdown-open\:opacity-100 {
    opacity: 1;
  }
  
  .hs-dropdown.open > .hs-dropdown-menu > .hs-dropdown-open\:ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  
  .hs-removing.hs-removing\:translate-x-5 {
    --tw-translate-x: 1.25rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-removing.hs-removing\:-translate-y-full {
    --tw-translate-y: -100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-removing.hs-removing\:opacity-0 {
    opacity: 0;
  }
  
  .hs-tooltip.show .hs-tooltip-shown\:visible {
    visibility: visible;
  }
  
  .hs-tooltip.show .hs-tooltip-shown\:opacity-100 {
    opacity: 1;
  }
  
  .hs-accordion.active.hs-accordion-active\:block {
    display: block;
  }
  
  .hs-accordion.active.hs-accordion-active\:hidden {
    display: none;
  }
  
  .hs-accordion.active.hs-accordion-active\:bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  
  .hs-accordion.active.hs-accordion-active\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .hs-accordion.active.hs-accordion-active\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .hs-accordion.active.hs-accordion-active\:hover\:bg-transparent:hover {
    background-color: transparent;
  }
  
  .hs-accordion.active.group:hover .hs-accordion-active\:group-hover\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .hs-accordion.active > .hs-accordion-toggle .hs-accordion-active\:block {
    display: block;
  }
  
  .hs-accordion.active > .hs-accordion-toggle .hs-accordion-active\:hidden {
    display: none;
  }
  
  .hs-accordion.active > .hs-accordion-toggle .hs-accordion-active\:bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  
  .hs-accordion.active > .hs-accordion-toggle .hs-accordion-active\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .hs-accordion.active > .hs-accordion-toggle .hs-accordion-active\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .hs-accordion.active > .hs-accordion-toggle .hs-accordion-active\:hover\:bg-transparent:hover {
    background-color: transparent;
  }
  
  .hs-accordion.active > .hs-accordion-toggle .group:hover .hs-accordion-active\:group-hover\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .hs-accordion.active > .hs-accordion-toggle.hs-accordion-active\:block {
    display: block;
  }
  
  .hs-accordion.active > .hs-accordion-toggle.hs-accordion-active\:hidden {
    display: none;
  }
  
  .hs-accordion.active > .hs-accordion-toggle.hs-accordion-active\:bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  
  .hs-accordion.active > .hs-accordion-toggle.hs-accordion-active\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .hs-accordion.active > .hs-accordion-toggle.hs-accordion-active\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .hs-accordion.active > .hs-accordion-toggle.hs-accordion-active\:hover\:bg-transparent:hover {
    background-color: transparent;
  }
  
  .hs-accordion.active > .hs-accordion-toggle.group:hover .hs-accordion-active\:group-hover\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .hs-collapse.open .hs-collapse-open\:sticky {
    position: -webkit-sticky;
    position: sticky;
  }
  
  .hs-collapse.open .hs-collapse-open\:inset-x-0 {
    left: 0px;
    right: 0px;
  }
  
  .hs-collapse.open .hs-collapse-open\:bottom-10 {
    bottom: 2.5rem;
  }
  
  .hs-collapse.open .hs-collapse-open\:block {
    display: block;
  }
  
  .hs-collapse.open .hs-collapse-open\:hidden {
    display: none;
  }
  
  .hs-collapse.open .hs-collapse-open\:rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-collapse.open .hs-collapse-open\:rotate-90 {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-collapse.open .hs-collapse-open\:rounded-full {
    border-radius: 9999px;
  }
  
  .hs-collapse.open .hs-collapse-open\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .hs-collapse.open.hs-collapse-open\:sticky {
    position: -webkit-sticky;
    position: sticky;
  }
  
  .hs-collapse.open.hs-collapse-open\:inset-x-0 {
    left: 0px;
    right: 0px;
  }
  
  .hs-collapse.open.hs-collapse-open\:bottom-10 {
    bottom: 2.5rem;
  }
  
  .hs-collapse.open.hs-collapse-open\:block {
    display: block;
  }
  
  .hs-collapse.open.hs-collapse-open\:hidden {
    display: none;
  }
  
  .hs-collapse.open.hs-collapse-open\:rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-collapse.open.hs-collapse-open\:rotate-90 {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-collapse.open.hs-collapse-open\:rounded-full {
    border-radius: 9999px;
  }
  
  .hs-collapse.open.hs-collapse-open\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .hs-collapse-toggle.open .hs-collapse-open\:sticky {
    position: -webkit-sticky;
    position: sticky;
  }
  
  .hs-collapse-toggle.open .hs-collapse-open\:inset-x-0 {
    left: 0px;
    right: 0px;
  }
  
  .hs-collapse-toggle.open .hs-collapse-open\:bottom-10 {
    bottom: 2.5rem;
  }
  
  .hs-collapse-toggle.open .hs-collapse-open\:block {
    display: block;
  }
  
  .hs-collapse-toggle.open .hs-collapse-open\:hidden {
    display: none;
  }
  
  .hs-collapse-toggle.open .hs-collapse-open\:rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-collapse-toggle.open .hs-collapse-open\:rotate-90 {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-collapse-toggle.open .hs-collapse-open\:rounded-full {
    border-radius: 9999px;
  }
  
  .hs-collapse-toggle.open .hs-collapse-open\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .hs-collapse-toggle.open.hs-collapse-open\:sticky {
    position: -webkit-sticky;
    position: sticky;
  }
  
  .hs-collapse-toggle.open.hs-collapse-open\:inset-x-0 {
    left: 0px;
    right: 0px;
  }
  
  .hs-collapse-toggle.open.hs-collapse-open\:bottom-10 {
    bottom: 2.5rem;
  }
  
  .hs-collapse-toggle.open.hs-collapse-open\:block {
    display: block;
  }
  
  .hs-collapse-toggle.open.hs-collapse-open\:hidden {
    display: none;
  }
  
  .hs-collapse-toggle.open.hs-collapse-open\:rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-collapse-toggle.open.hs-collapse-open\:rotate-90 {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hs-collapse-toggle.open.hs-collapse-open\:rounded-full {
    border-radius: 9999px;
  }
  
  .hs-collapse-toggle.open.hs-collapse-open\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .active.hs-tab-active\:border-blue-600 {
    --tw-border-opacity: 1;
    border-color: rgb(37 99 235 / var(--tw-border-opacity));
  }
  
  .active.hs-tab-active\:border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
  }
  
  .active.hs-tab-active\:border-b-transparent {
    border-bottom-color: transparent;
  }
  
  .active.hs-tab-active\:border-b-blue-600 {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(37 99 235 / var(--tw-border-opacity));
  }
  
  .active.hs-tab-active\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  
  .active.hs-tab-active\:bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity));
  }
  
  .active.hs-tab-active\:bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  }
  
  .active.hs-tab-active\:bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  }
  
  .active.hs-tab-active\:bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  
  .active.hs-tab-active\:font-semibold {
    font-weight: 600;
  }
  
  .active.hs-tab-active\:text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
  }
  
  .active.hs-tab-active\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .active.hs-tab-active\:text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
  }
  
  .active.hs-tab-active\:text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
  }
  
  .active.hs-tab-active\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .active.hs-tab-active\:shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .active.hs-tab-active\:shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .active.hs-tab-active\:hover\:border-transparent:hover {
    border-color: transparent;
  }
  
  .active.hs-tab-active\:hover\:text-gray-800:hover {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
  }
  
  .active .hs-tab-active\:border-blue-600 {
    --tw-border-opacity: 1;
    border-color: rgb(37 99 235 / var(--tw-border-opacity));
  }
  
  .active .hs-tab-active\:border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
  }
  
  .active .hs-tab-active\:border-b-transparent {
    border-bottom-color: transparent;
  }
  
  .active .hs-tab-active\:border-b-blue-600 {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(37 99 235 / var(--tw-border-opacity));
  }
  
  .active .hs-tab-active\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  
  .active .hs-tab-active\:bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity));
  }
  
  .active .hs-tab-active\:bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  }
  
  .active .hs-tab-active\:bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  }
  
  .active .hs-tab-active\:bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  
  .active .hs-tab-active\:font-semibold {
    font-weight: 600;
  }
  
  .active .hs-tab-active\:text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
  }
  
  .active .hs-tab-active\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .active .hs-tab-active\:text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
  }
  
  .active .hs-tab-active\:text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
  }
  
  .active .hs-tab-active\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .active .hs-tab-active\:shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .active .hs-tab-active\:shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .active .hs-tab-active\:hover\:border-transparent:hover {
    border-color: transparent;
  }
  
  .active .hs-tab-active\:hover\:text-gray-800:hover {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
  }
  
  .open.hs-overlay-open\:mt-7 {
    margin-top: 1.75rem;
  }
  
  .open.hs-overlay-open\:mt-0 {
    margin-top: 0px;
  }
  
  .open.hs-overlay-open\:block {
    display: block;
  }
  
  .open.hs-overlay-open\:hidden {
    display: none;
  }
  
  .open.hs-overlay-open\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .open.hs-overlay-open\:translate-y-0 {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .open.hs-overlay-open\:opacity-100 {
    opacity: 1;
  }
  
  .open.hs-overlay-open\:duration-500 {
    transition-duration: 500ms;
  }
  
  .open .hs-overlay-open\:mt-7 {
    margin-top: 1.75rem;
  }
  
  .open .hs-overlay-open\:mt-0 {
    margin-top: 0px;
  }
  
  .open .hs-overlay-open\:block {
    display: block;
  }
  
  .open .hs-overlay-open\:hidden {
    display: none;
  }
  
  .open .hs-overlay-open\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .open .hs-overlay-open\:translate-y-0 {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .open .hs-overlay-open\:opacity-100 {
    opacity: 1;
  }
  
  .open .hs-overlay-open\:duration-500 {
    transition-duration: 500ms;
  }
  
  .hs-overlay-backdrop.hs-overlay-backdrop-open\:z-\[55\] {
    z-index: 55;
  }
  
  .hs-overlay-backdrop.hs-overlay-backdrop-open\:z-\[63\] {
    z-index: 63;
  }
  
  .hs-overlay-backdrop .hs-overlay-backdrop-open\:z-\[55\] {
    z-index: 55;
  }
  
  .hs-overlay-backdrop .hs-overlay-backdrop-open\:z-\[63\] {
    z-index: 63;
  }
  
  .dark .hs-dark-mode-active\:block {
    display: block;
  }
  
  .dark .hs-dark-mode-active\:hidden {
    display: none;
  }
  
  .dark .hs-dark-mode-active\:bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }
  
  .auto .hs-auto-mode-active\:bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  
  .active.hs-scrollspy-active\:font-medium {
    font-weight: 500;
  }
  
  .active.hs-scrollspy-active\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .active.hs-scrollspy-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .active-link.active.hs-scrollspy-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .active.active.hs-scrollspy-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active.active.hs-scrollspy-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active-link.active.hs-scrollspy-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .default .hs-default-mode-active\:bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  
  .dark .hs-accordion.active.dark\:hs-accordion-active\:bg-white\/\[\.05\] {
    background-color: rgb(255 255 255 / .05);
  }
  
  .dark .hs-accordion.active.dark\:hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .hs-accordion.active.dark\:hs-accordion-active\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .dark .hs-accordion.active.dark\:hs-accordion-active\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .active-link.dark .hs-accordion.active.hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .active.dark .hs-accordion.active.hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active.dark .hs-accordion.active.hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active-link.dark .hs-accordion.active.hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .hs-accordion.active > .hs-accordion-toggle .dark\:hs-accordion-active\:bg-white\/\[\.05\] {
    background-color: rgb(255 255 255 / .05);
  }
  
  .dark .hs-accordion.active > .hs-accordion-toggle .dark\:hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .hs-accordion.active > .hs-accordion-toggle .dark\:hs-accordion-active\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .dark .hs-accordion.active > .hs-accordion-toggle .dark\:hs-accordion-active\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .active-link.dark .hs-accordion.active > .hs-accordion-toggle .hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .active.dark .hs-accordion.active > .hs-accordion-toggle .hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active.dark .hs-accordion.active > .hs-accordion-toggle .hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active-link.dark .hs-accordion.active > .hs-accordion-toggle .hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .hs-accordion.active > .hs-accordion-toggle.dark\:hs-accordion-active\:bg-white\/\[\.05\] {
    background-color: rgb(255 255 255 / .05);
  }
  
  .dark .hs-accordion.active > .hs-accordion-toggle.dark\:hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .hs-accordion.active > .hs-accordion-toggle.dark\:hs-accordion-active\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .dark .hs-accordion.active > .hs-accordion-toggle.dark\:hs-accordion-active\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .active-link.dark .hs-accordion.active > .hs-accordion-toggle.hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .active.dark .hs-accordion.active > .hs-accordion-toggle.hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active.dark .hs-accordion.active > .hs-accordion-toggle.hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active-link.dark .hs-accordion.active > .hs-accordion-toggle.hs-accordion-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active.dark\:hs-tab-active\:border-b-gray-800 {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(31 41 55 / var(--tw-border-opacity));
  }
  
  .dark .active.dark\:hs-tab-active\:border-b-blue-600 {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(37 99 235 / var(--tw-border-opacity));
  }
  
  .dark .active.dark\:hs-tab-active\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }
  
  .dark .active.dark\:hs-tab-active\:bg-blue-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(30 64 175 / var(--tw-bg-opacity));
  }
  
  .active.dark .hs-tab-active\:dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }
  
  .dark .active.dark\:hs-tab-active\:bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }
  
  .dark .active.dark\:hs-tab-active\:bg-slate-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  }
  
  .dark .active.dark\:hs-tab-active\:bg-white\/\[\.05\] {
    background-color: rgb(255 255 255 / .05);
  }
  
  .dark .active.dark\:hs-tab-active\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
  
  .dark .active.dark\:hs-tab-active\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .dark .active.dark\:hs-tab-active\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .active.dark .hs-tab-active\:dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
  
  .dark .active.dark\:hs-tab-active\:text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
  }
  
  .dark .active.dark\:hs-tab-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .active-link.dark .active.hs-tab-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .active.dark .active.hs-tab-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active.dark .active.hs-tab-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active-link.dark .active.hs-tab-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active .dark\:hs-tab-active\:border-b-gray-800 {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(31 41 55 / var(--tw-border-opacity));
  }
  
  .dark .active .dark\:hs-tab-active\:border-b-blue-600 {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(37 99 235 / var(--tw-border-opacity));
  }
  
  .dark .active .dark\:hs-tab-active\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }
  
  .dark .active .dark\:hs-tab-active\:bg-blue-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(30 64 175 / var(--tw-bg-opacity));
  }
  
  .active .dark .hs-tab-active\:dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }
  
  .dark .active .dark\:hs-tab-active\:bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }
  
  .dark .active .dark\:hs-tab-active\:bg-slate-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  }
  
  .dark .active .dark\:hs-tab-active\:bg-white\/\[\.05\] {
    background-color: rgb(255 255 255 / .05);
  }
  
  .dark .active .dark\:hs-tab-active\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
  
  .dark .active .dark\:hs-tab-active\:text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
  }
  
  .dark .active .dark\:hs-tab-active\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .active .dark .hs-tab-active\:dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
  
  .dark .active .dark\:hs-tab-active\:text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
  }
  
  .dark .active .dark\:hs-tab-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .active-link.dark .active .hs-tab-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .active.dark .active .hs-tab-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active.dark .active .hs-tab-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active-link.dark .active .hs-tab-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active.dark\:hs-scrollspy-active\:text-blue-400 {
    --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity));
  }
  
  .dark .active.dark\:hs-scrollspy-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .active-link.dark .active.hs-scrollspy-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .active.dark .active.hs-scrollspy-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active.dark .active.hs-scrollspy-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .dark .active-link.dark .active.hs-scrollspy-active\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  @media (min-width: 640px) {
    .open.sm\:hs-overlay-open\:mt-10 {
      margin-top: 2.5rem;
    }
  
    .open .sm\:hs-overlay-open\:mt-10 {
      margin-top: 2.5rem;
    }
  }
  @media (min-width: 768px) {
    .open.md\:hs-overlay-open\:mt-10 {
      margin-top: 2.5rem;
    }
  
    .open .md\:hs-overlay-open\:mt-10 {
      margin-top: 2.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .open.lg\:hs-overlay-open\:mt-10 {
      margin-top: 2.5rem;
    }
  
    .open .lg\:hs-overlay-open\:mt-10 {
      margin-top: 2.5rem;
    }
  }
  
  @media (min-width: 1280px) {
    .open.xl\:hs-overlay-open\:mt-10 {
      margin-top: 2.5rem;
    }
  
    .open .xl\:hs-overlay-open\:mt-10 {
      margin-top: 2.5rem;
    }
  }